# Data fetching

In [1]:
import pandas as pd
import requests
 
df = pd.read_csv('full_city_list.txt', sep=";")
df_arg = df[df['Country']=='Argentina']
 
province_lst = []

for i in range(len(df_arg)):
    province_id = int(df_arg.iloc[i]['CityId'])
    url = 'https://worldweather.wmo.int/en/json/' + str(province_id) + '_en.json'
    response = requests.get(url)
    province_json = response.json()
    province_lst.append(province_json)
print(len(province_lst))

10

In [2]:
province_lst[0]

{'city': {'lang': 'en',
  'cityName': 'Bariloche',
  'cityLatitude': '-41.150000000',
  'cityLongitude': '-71.170000000',
  'cityId': 858,
  'isCapital': False,
  'stationName': 'Bariloche',
  'tourismURL': '',
  'tourismBoardName': '',
  'isDep': False,
  'timeZone': '-0300',
  'isDST': 'N',
  'member': {'memId': 50,
   'memName': 'Argentina',
   'shortMemName': '',
   'url': 'www.smn.gov.ar',
   'orgName': 'Servicio Meteorol√≥gico Nacional',
   'logo': 'argentina_logo.png',
   'ra': 3},
  'forecast': {'issueDate': '2025-04-19 05:59:00',
   'timeZone': 'Local',
   'forecastDay': [{'forecastDate': '2025-04-19',
     'wxdesc': '',
     'weather': 'Partly Cloudy',
     'minTemp': '1',
     'maxTemp': '13',
     'minTempF': '34',
     'maxTempF': '55',
     'weatherIcon': 2202},
    {'forecastDate': '2025-04-20',
     'wxdesc': '',
     'weather': 'Rain',
     'minTemp': '3',
     'maxTemp': '15',
     'minTempF': '37',
     'maxTempF': '59',
     'weatherIcon': 1401},
    {'forecastDate': '2025-04-21',
     'wxdesc': '',
     'weather': 'Rain',
     'minTemp': '7',
     'maxTemp': '15',
     'minTempF': '45',
     'maxTempF': '59',
     'weatherIcon': 1401},
    {'forecastDate': '2025-04-22',
     'wxdesc': '',
     'weather': 'Light Rain',
     'minTemp': '5',
     'maxTemp': '14',
     'minTempF': '41',
     'maxTempF': '57',
     'weatherIcon': 1502},
    {'forecastDate': '2025-04-23',
     'wxdesc': '',
     'weather': 'Partly Cloudy',
     'minTemp': '5',
     'maxTemp': '13',
     'minTempF': '41',
     'maxTempF': '55',
     'weatherIcon': 2202},
    {'forecastDate': '2025-04-24',
     'wxdesc': '',
     'weather': 'Mostly Cloudy',
     'minTemp': '5',
     'maxTemp': '8',
     'minTempF': '41',
     'maxTempF': '46',
     'weatherIcon': 2302},
    {'forecastDate': '2025-04-25',
     'wxdesc': '',
     'weather': 'Mostly Cloudy',
     'minTemp': '0',
     'maxTemp': '12',
     'minTempF': '32',
     'maxTempF': '54',
     'weatherIcon': 2302}]},
  'climate': {'raintype': 'Rainfall',
   'raindef': '0.1',
   'rainunit': 'mm',
   'datab': 1981,
   'datae': 2010,
   'tempb': '',
   'tempe': '',
   'rdayb': '',
   'rdaye': '',
   'rainfallb': '',
   'rainfalle': '',
   'climatefromclino': '',
   'climateMonth': [{'month': 1,
     'maxTemp': '22.6',
     'minTemp': '6.6',
     'meanTemp': None,
     'maxTempF': '72.7',
     'minTempF': '43.9',
     'meanTempF': None,
     'raindays': '3.7',
     'rainfall': '20.0',
     'climateFromMemDate': '2002-11-15'},
    {'month': 2,
     'maxTemp': '23.0',
     'minTemp': '6.3',
     'meanTemp': None,
     'maxTempF': '73.4',
     'minTempF': '43.3',
     'meanTempF': None,
     'raindays': '3.4',
     'rainfall': '15.3',
     'climateFromMemDate': '2002-11-15'},
    {'month': 3,
     'maxTemp': '19.7',
     'minTemp': '4.7',
     'meanTemp': None,
     'maxTempF': '67.5',
     'minTempF': '40.5',
     'meanTempF': None,
     'raindays': '6.7',
     'rainfall': '35.2',
     'climateFromMemDate': '2002-11-15'},
    {'month': 4,
     'maxTemp': '14.6',
     'minTemp': '2.3',
     'meanTemp': None,
     'maxTempF': '58.3',
     'minTempF': '36.1',
     'meanTempF': None,
     'raindays': '8.2',
     'rainfall': '58.9',
     'climateFromMemDate': '2002-11-15'},
    {'month': 5,
     'maxTemp': '10.2',
     'minTemp': '0.6',
     'meanTemp': None,
     'maxTempF': '50.4',
     'minTempF': '33.1',
     'meanTempF': None,
     'raindays': '13.6',
     'rainfall': '130.1',
     'climateFromMemDate': '2002-11-15'},
    {'month': 6,
     'maxTemp': '6.9',
     'minTemp': '-0.6',
     'meanTemp': None,
     'maxTempF': '44.4',
     'minTempF': '30.9',
     'meanTempF': None,
     'raindays': '16.1',
     'rainfall': '170.1',
     'climateFromMemDate': '2002-11-15'},
    {'month': 7,
     'maxTemp': '6.7',
     'minTemp': '-1.6',
     'meanTemp': None,
     'maxTempF': '44.1',
     'minTempF': '29.1',
     'meanTempF': None,
     'raindays': '14.0',
     'rainfall': '122.1',
     'climateFromMemDate': '2002-11-15'},
    {'month': 8,
     'maxTemp': '8.3',
     'minTemp': '-1.1',
     'meanTemp': None,
     'maxTempF': '46.9',
     'minTempF': '30.0',
     'meanTempF': None,
     'raindays': '13.0',
     'rainfall': '101.1',
     'climateFromMemDate': '2002-11-15'},
    {'month': 9,
     'maxTemp': '11.5',
     'minTemp': '-0.2',
     'meanTemp': None,
     'maxTempF': '52.7',
     'minTempF': '31.6',
     'meanTempF': None,
     'raindays': '9.1',
     'rainfall': '56.5',
     'climateFromMemDate': '2002-11-15'},
    {'month': 10,
     'maxTemp': '14.8',
     'minTemp': '1.8',
     'meanTemp': None,
     'maxTempF': '58.6',
     'minTempF': '35.2',
     'meanTempF': None,
     'raindays': '8.3',
     'rainfall': '49.4',
     'climateFromMemDate': '2002-11-15'},
    {'month': 11,
     'maxTemp': '17.9',
     'minTemp': '3.7',
     'meanTemp': None,
     'maxTempF': '64.2',
     'minTempF': '38.7',
     'meanTempF': None,
     'raindays': '5.4',
     'rainfall': '29.3',
     'climateFromMemDate': '2002-11-15'},
    {'month': 12,
     'maxTemp': '20.5',
     'minTemp': '5.9',
     'meanTemp': None,
     'maxTempF': '68.9',
     'minTempF': '42.6',
     'meanTempF': None,
     'raindays': '4.6',
     'rainfall': '23.4',
     'climateFromMemDate': '2002-11-15'}]}}}

# Main Dataframe

In [3]:
# import pandas as pd 
# df = pd.read_json('Cordoba.json')
# df
import pandas as pd
df = pd.json_normalize(province_lst[0])

In [6]:
df

,city.lang,city.cityName,city.cityLatitude,city.cityLongitude,city.cityId,city.isCapital,city.stationName,city.tourismURL,city.tourismBoardName,city.isDep,...,city.climate.datab,city.climate.datae,city.climate.tempb,city.climate.tempe,city.climate.rdayb,city.climate.rdaye,city.climate.rainfallb,city.climate.rainfalle,city.climate.climatefromclino,city.climate.climateMonth
0,en,Bariloche,-41.150000000,-71.170000000,858,False,Bariloche,,,False,...,1981,2010,,,,,,,,"[{'month': 1, 'maxTemp': '22.6', 'minTemp': '6..."

In [5]:
df.columns

Index(['city.lang', 'city.cityName', 'city.cityLatitude', 'city.cityLongitude',
       'city.cityId', 'city.isCapital', 'city.stationName', 'city.tourismURL',
       'city.tourismBoardName', 'city.isDep', 'city.timeZone', 'city.isDST',
       'city.member.memId', 'city.member.memName', 'city.member.shortMemName',
       'city.member.url', 'city.member.orgName', 'city.member.logo',
       'city.member.ra', 'city.forecast.issueDate', 'city.forecast.timeZone',
       'city.forecast.forecastDay', 'city.climate.raintype',
       'city.climate.raindef', 'city.climate.rainunit', 'city.climate.datab',
       'city.climate.datae', 'city.climate.tempb', 'city.climate.tempe',
       'city.climate.rdayb', 'city.climate.rdaye', 'city.climate.rainfallb',
       'city.climate.rainfalle', 'city.climate.climatefromclino',
       'city.climate.climateMonth'],
      dtype='object')

# OBJECT SEGMENTATION

### 3 objects -> [city,member] ; [forecast]; [climate]

In [12]:
# FOR CITY,MEMBER COLUMN OBJECTS

import pandas as pd
from pandas import json_normalize

# Your specified columns
cols = ['city.lang', 'city.cityName', 'city.cityLatitude', 'city.cityLongitude',
       'city.cityId', 'city.isCapital', 'city.stationName', 'city.tourismURL',
       'city.tourismBoardName', 'city.isDep', 'city.timeZone', 'city.isDST',
       'city.member.memId', 'city.member.memName', 'city.member.shortMemName',
       'city.member.url', 'city.member.orgName', 'city.member.logo',
       'city.member.ra']

# nested_cols = ['member']
# selected_df = df[cols].copy()
# selected_df.reset_index(drop=True, inplace=True)
# member_normalized = json_normalize(selected_df['member'])
# member_normalized.reset_index(drop=True, inplace=True)
# selected_df = selected_df.drop(columns=nested_cols)
# city_member = pd.concat([selected_df, member_normalized], axis=1)
city_member_df = df[cols]
city_member_df

,city.lang,city.cityName,city.cityLatitude,city.cityLongitude,city.cityId,city.isCapital,city.stationName,city.tourismURL,city.tourismBoardName,city.isDep,city.timeZone,city.isDST,city.member.memId,city.member.memName,city.member.shortMemName,city.member.url,city.member.orgName,city.member.logo,city.member.ra
0,en,Bariloche,-41.150000000,-71.170000000,858,False,Bariloche,,,False,-0300,N,50,Argentina,,www.smn.gov.ar,Servicio Meteorol√≥gico Nacional,argentina_logo.png,3

In [13]:
# FOR CLIMATE COLUMN

import pandas as pd
from pandas import json_normalize
cols=['city.climate.raintype',
       'city.climate.raindef', 'city.climate.rainunit', 'city.climate.datab',
       'city.climate.datae', 'city.climate.tempb', 'city.climate.tempe',
       'city.climate.rdayb', 'city.climate.rdaye', 'city.climate.rainfallb',
       'city.climate.rainfalle', 'city.climate.climatefromclino',
       'city.climate.climateMonth']

climate_df = df[cols]

# Step 1: Extract the climate column
selected_df = df[['city.climate.climateMonth']].copy()

# Step 2: Keep raw values if they're not dicts
selected_df['climate_raw'] = selected_df['city.climate.climateMonth'].apply(
    lambda x: x if not isinstance(x, dict) else None
)

# Step 3: Extract dicts (or empty dicts for non-dict entries ‚Äî keeps alignment!)
climate_dicts = selected_df['city.climate.climateMonth'].apply(
    lambda x: x if isinstance(x, dict) else {}
)

# Step 4: Normalize top-level fields without dropping rows
climate_top = pd.json_normalize(climate_dicts.tolist(), sep='_')

# Step 5: Flatten climateMonth from list of 12 dicts ‚Üí wide columns
def flatten_climate_month(month_list):
    month_data = {}
    if isinstance(month_list, list):
        for entry in month_list:
            if isinstance(entry, dict) and 'month' in entry:
                month_name = entry['month']
                for k, v in entry.items():
                    if k != 'month':
                        month_data[f"{k}_{month_name}"] = v
    return month_data

climate_month_data = climate_dicts.apply(
    lambda x: flatten_climate_month(x.get('climateMonth')) if 'climateMonth' in x else {}
)

climate_month_df = pd.DataFrame(climate_month_data.tolist())

# Step 6: Combine everything into a final dataframe
climate_df = pd.concat(
    [selected_df.drop(columns='city.climate.climateMonth'), climate_top.drop(columns='climateMonth', errors='ignore'), climate_month_df],
    axis=1
)
climate_df.drop(columns='climate_raw', inplace=True)
climate_df = climate_df.iloc[1:,:]

climate_df

Empty DataFrame
Columns: []
Index: []

In [ ]:
# FOR FORECAST COLUMN

import pandas as pd
from pandas import json_normalize

# Step 1: Extract the forecast column
forecast_data = df['forecast']

# Step 2: Normalize the forecast dictionary
forecast_dicts = pd.json_normalize(forecast_data)

# Step 3: Flatten the top-level keys
forecast_flat = pd.json_normalize(forecast_dicts.to_dict(orient='records'), sep='_')

# Check what the actual column name for the forecast list is
print(forecast_flat.columns)  # Helps you inspect actual column names

# Most likely, it‚Äôs just 'forecastDay'
top_level = forecast_flat.drop(columns=['forecastDay'], errors='ignore')

# Step 4: Function to flatten forecast days using "today", "today+1", ...
def flatten_forecast_by_day_offset(forecast_list):
    flat = {}
    if isinstance(forecast_list, list):
        for i, entry in enumerate(forecast_list):
            label = f"today+{i}" if i > 0 else "today"
            for k, v in entry.items():
                if k != 'forecastDate':  # Skip date, or include if needed
                    flat[f"{k}_{label}"] = v
    return flat

# Step 5: Apply the flattening function to the forecastDay list
flattened_forecasts = forecast_flat['forecastDay'].apply(flatten_forecast_by_day_offset)

# Step 6: Convert list of flattened dicts to DataFrame
forecast_days_df = pd.DataFrame(flattened_forecasts.tolist())

# Step 7: Combine top-level fields with forecast details
forecast_data = pd.concat([top_level, forecast_days_df], axis=1)

# ‚úÖ Final forecast_data DataFrame
forecast_data

Index(['issueDate', 'timeZone', 'forecastDay'], dtype='object')

,issueDate,timeZone,wxdesc_today,weather_today,minTemp_today,maxTemp_today,minTempF_today,maxTempF_today,weatherIcon_today,wxdesc_today+1,...,minTempF_today+5,maxTempF_today+5,weatherIcon_today+5,wxdesc_today+6,weather_today+6,minTemp_today+6,maxTemp_today+6,minTempF_today+6,maxTempF_today+6,weatherIcon_today+6
0,2025-04-06 17:39:00,Local,,Mostly Cloudy,14,20,57,68,2302,,...,55,66,2301,,Fine,13,25,55,77,2501

#

# rutujas code